body {
	max-width: 60%;
	margin: 0 auto;
	font-family: Arial;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.main-content {
	flex-grow: 1;
}
header h1 {
	font-size: 60px;
}
header a {
	color: rgb(185, 185, 185);
	margin-right: 16px;
	text-decoration: none;
}
footer {
	border-top: 1px solid rgb(180, 180, 180);
	margin-top: 16px;
	padding: 16px;
}
